<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='static/stylesheets/style.css' />
  </head>
  <body>
    <ng-view></ng-view>

    <!-- Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>
    <!-- AngularJs Files -->
    <script src="static/javascripts/module.js"></script>
    <script src="static/javascripts/routes.js"></script>
    <script src="static/javascripts/factory.js"></script>
    <script src="static/javascripts/controller.js"></script>
  </body>
</html>
